In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
import joblib
from IPython.display import display

WARNING:tensorflow:From C:\Users\czeroo\Desktop\Managem App\SimulationApp\internship\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Define the custom R^2 metric for the Keras model
def r2_keras(output_index):
    def r2(y_true, y_pred):
        SS_res = tf.keras.backend.sum(tf.keras.backend.square(y_true[:, output_index] - y_pred[:, output_index]))
        SS_tot = tf.keras.backend.sum(tf.keras.backend.square(y_true[:, output_index] - tf.keras.backend.mean(y_true[:, output_index])))
        r2 = 1 - SS_res / (SS_tot + tf.keras.backend.epsilon())
        return r2
    r2.__name__ = f"r2_{output_index}"
    return r2

In [3]:
# Load the test dataset
test_data = pd.read_excel('100_obs_simulation.xlsx')

# Define the inputs and output for the model
X_test = test_data[['Net Volume', 'Pulp Area', 'Froth surface area', 'Froth thickness',
       'Air Flow rate', 'R_inf Ccp', 'R_inf Gn', 'R_inf Po', 'R_inf Sp',
       'k_max Ccp', 'k_max Gn', 'k_maxPo', 'k_max Sp',
       'Entrainement Savassi parameters', 'Total Solids Flow_Feed',
       'Total Liquid Flow_Feed',
       'Pulp Volumetric Flow_Feed', 'Solids SG_Feed', 'Pulp SG_Feed',
       'Solids Fraction_Feed', 'Cu_Feed', 'Fe_Feed',
       'Pb_Feed', 'Zn_Feed']]
       
y_test = test_data[['Air Efficiency', 'Flotation Rate: Cell 1',
       'Entrainment: Cell 1', 'Total Solids Flow_Concentrate',
       'Total Liquid Flow_Concentrate',
       'Pulp Volumetric Flow_Concentrate', 'Solids SG_Concentrate',
       'Pulp SG_Concentrate',
       'Solids Fraction_Concentrate', 'Total Solids Flow_Tailings',
       'Total Liquid Flow_Tailings',
       'Pulp Volumetric Flow_Tailings', 'Solids SG_Tailings',
       'Pulp SG_Tailings', 'Solids Fraction_Tailings',
       'Cu_Tails', 'Fe_Tails', 'Pb_Tails', 'Zn_Tails', 'Cu_Concentrate',
       'Fe_Concentrate', 'Pb_Concentrate', 'Zn_Concentrate']]

In [4]:
# Load scalers
scalerX = joblib.load('scalerX_24.joblib')
scalerY = joblib.load('scalerY_23.joblib')

# Apply the scaler to the test data
X_test = scalerX.transform(X_test)
y_test = scalerY.transform(y_test)

# Load the saved model
custom_objects = {f'r2_{i}': r2_keras(i) for i in range(23)}
model = load_model('model7_23.h5', custom_objects=custom_objects)

C:\Users\czeroo\Desktop\Managem App\SimulationApp\internship\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator MinMaxScaler from version 1.2.2 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

WARNING:tensorflow:From C:\Users\czeroo\Desktop\Managem App\SimulationApp\internship\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [5]:
# Make predictions on the preprocessed test set
y_pred = model.predict(X_test)

# Invert the scaling to get the original values
y_test = scalerY.inverse_transform(y_test)
y_pred = scalerY.inverse_transform(y_pred)

# Calculate the difference between true and predicted values
diff = np.abs(y_test - y_pred)

1/4 [======>.......................] - ETA: 1s

4/4 [==============================] - 1s 7ms/step

In [6]:
# Combine the true values, predicted values, and difference into a table
results = np.concatenate((y_test, y_pred, diff), axis=1)

columns = ['Air Efficiency', 'Flotation Rate: Cell 1',
       'Entrainment: Cell 1', 'Total Solids Flow_Concentrate',
       'Total Liquid Flow_Concentrate',
       'Pulp Volumetric Flow_Concentrate', 'Solids SG_Concentrate',
       'Pulp SG_Concentrate',
       'Solids Fraction_Concentrate', 'Total Solids Flow_Tailings',
       'Total Liquid Flow_Tailings',
       'Pulp Volumetric Flow_Tailings', 'Solids SG_Tailings',
       'Pulp SG_Tailings', 'Solids Fraction_Tailings',
       'Cu_Tails', 'Fe_Tails', 'Pb_Tails', 'Zn_Tails', 'Cu_Concentrate',
       'Fe_Concentrate', 'Pb_Concentrate', 'Zn_Concentrate']

In [7]:
for i, col in enumerate(columns):
    output_results = results[:, [i, i + y_test.shape[1], i + 2*y_test.shape[1]]]
    output_table = pd.DataFrame(output_results, columns=['True values', 'Predicted values', 'Difference'])
    print(f"{col}")
    display(output_table)
    print(f"Average difference for {col}: {np.mean(output_table['Difference']):.2f}\n")

Air Efficiency

    True values  Predicted values  Difference
0    703.640690        686.386108   17.254581
1    721.142694        720.530029    0.612665
2    536.155348        538.245911    2.090562
3    598.180779        608.849854   10.669075
4    483.819052        485.757935    1.938882
..          ...               ...         ...
95  1003.520646        856.355469  147.165177
96   654.565919        660.415955    5.850035
97   727.474656        716.541687   10.932969
98   677.628881        683.453308    5.824427
99   590.615905        603.684631   13.068726

[100 rows x 3 columns]

Average difference for Air Efficiency: 13.08

Flotation Rate: Cell 1

    True values  Predicted values  Difference
0      0.950515          0.954755    0.004240
1      0.576720          0.612979    0.036260
2      1.007466          0.978256    0.029209
3      0.605717          0.690338    0.084621
4      0.755064          0.752416    0.002648
..          ...               ...         ...
95     0.805064          0.801360    0.003705
96     0.682673          0.633851    0.048822
97     0.675104          0.651471    0.023633
98     0.978890          0.918165    0.060724
99     0.747658          0.710031    0.037626

[100 rows x 3 columns]

Average difference for Flotation Rate: Cell 1: 0.03

Entrainment: Cell 1

    True values  Predicted values  Difference
0      0.128494          0.126084    0.002409
1      0.107965          0.107616    0.000349
2      0.113346          0.114569    0.001224
3      0.140709          0.131700    0.009009
4      0.116023          0.124497    0.008474
..          ...               ...         ...
95     0.112420          0.116292    0.003873
96     0.091517          0.099899    0.008383
97     0.109835          0.112185    0.002350
98     0.107560          0.112253    0.004693
99     0.121115          0.122859    0.001744

[100 rows x 3 columns]

Average difference for Entrainment: Cell 1: 0.00

Total Solids Flow_Concentrate

    True values  Predicted values  Difference
0    358.485142        360.824005    2.338863
1    383.371360        381.751556    1.619803
2    348.266266        347.018829    1.247436
3    343.099196        350.102112    7.002916
4    312.646280        300.917633   11.728647
..          ...               ...         ...
95   440.087582        419.351562   20.736019
96   400.676698        395.959717    4.716982
97   413.160939        407.115387    6.045552
98   387.668728        384.617554    3.051175
99   368.778512        369.307404    0.528891

[100 rows x 3 columns]

Average difference for Total Solids Flow_Concentrate: 3.63

Total Liquid Flow_Concentrate

    True values  Predicted values  Difference
0    665.758121        662.248108    3.510013
1    711.975382        705.003052    6.972330
2    646.780208        641.464417    5.315791
3    637.184222        658.592285   21.408063
4    580.628806        584.647034    4.018228
..          ...               ...         ...
95   817.305509        780.223083   37.082426
96   744.113869        734.183472    9.930397
97   767.298887        762.023254    5.275633
98   719.956210        710.454407    9.501803
99   684.874380        687.301331    2.426951

[100 rows x 3 columns]

Average difference for Total Liquid Flow_Concentrate: 9.32

Pulp Volumetric Flow_Concentrate

    True values  Predicted values  Difference
0    738.285987        744.950134    6.664147
1    788.253542        788.176514    0.077028
2    715.971224        713.844543    2.126680
3    709.943607        739.369263   29.425655
4    647.431559        647.203186    0.228373
..          ...               ...         ...
95   903.598615        883.773376   19.825238
96   821.989445        817.720459    4.268986
97   850.049301        845.950562    4.098740
98   797.438349        798.289551    0.851201
99   760.837166        766.061401    5.224236

[100 rows x 3 columns]

Average difference for Pulp Volumetric Flow_Concentrate: 6.44

Solids SG_Concentrate

    True values  Predicted values  Difference
0      5.082690          5.105131    0.022441
1      5.170755          5.172993    0.002238
2      5.178629          5.198254    0.019626
3      4.842762          4.924672    0.081910
4      4.805443          4.845750    0.040307
..          ...               ...         ...
95     5.249062          5.264689    0.015628
96     5.296927          5.322607    0.025680
97     5.135719          5.164211    0.028492
98     5.146801          5.151216    0.004415
99     4.989686          5.025456    0.035771

[100 rows x 3 columns]

Average difference for Solids SG_Concentrate: 0.02

Pulp SG_Concentrate

    True values  Predicted values  Difference
0      1.387326          1.387365    0.000039
1      1.389587          1.389349    0.000238
2      1.389786          1.390249    0.000464
3      1.380791          1.383250    0.002459
4      1.379721          1.381639    0.001918
..          ...               ...         ...
95     1.391539          1.392376    0.000836
96     1.392707          1.393181    0.000474
97     1.388696          1.388821    0.000126
98     1.388979          1.388964    0.000014
99     1.384860          1.385490    0.000630

[100 rows x 3 columns]

Average difference for Pulp SG_Concentrate: 0.00

Solids Fraction_Concentrate

    True values  Predicted values  Difference
0      9.553289          9.566226    0.012937
1      9.405887          9.450129    0.044242
2      9.392930          9.390066    0.002864
3      9.979361          9.864001    0.115359
4     10.049073          9.913563    0.135510
..          ...               ...         ...
95     9.278588          9.399401    0.120813
96     9.202458          9.211437    0.008979
97     9.463983          9.514254    0.050271
98     9.445529          9.563633    0.118104
99     9.714058          9.721890    0.007833

[100 rows x 3 columns]

Average difference for Solids Fraction_Concentrate: 0.06

Total Solids Flow_Tailings

    True values  Predicted values  Difference
0    131.283016        126.049469    5.233547
1    112.594499        109.283936    3.310564
2    109.093033        109.216377    0.123344
3    144.300346        127.879631   16.420715
4    101.173099        106.430290    5.257191
..          ...               ...         ...
95   136.313044        125.809067   10.503977
96    96.624821        101.378975    4.754154
97   125.804704        123.612473    2.192231
98   113.038530        116.486786    3.448255
99   126.208974        125.250298    0.958677

[100 rows x 3 columns]

Average difference for Total Solids Flow_Tailings: 2.59

Total Liquid Flow_Tailings

    True values  Predicted values  Difference
0     66.636098         60.421810    6.214288
1     39.670691         41.687305    2.016614
2     62.116783         59.847023    2.269760
3     31.936843         19.614136   12.322707
4    106.352677         94.786255   11.566422
..          ...               ...         ...
95    15.967229         22.860209    6.892980
96    60.950963         71.263840   10.312876
97    44.122039         48.739288    4.617249
98    82.106682         85.502075    3.395394
99    57.865604         57.805462    0.060142

[100 rows x 3 columns]

Average difference for Total Liquid Flow_Tailings: 4.71

Pulp Volumetric Flow_Tailings

    True values  Predicted values  Difference
0    100.592052         94.234261    6.357791
1     69.071821         69.993668    0.921846
2     90.047277         87.236961    2.810316
3     67.464356         55.309437   12.154919
4    132.774236        120.243370   12.530866
..          ...               ...         ...
95    50.858537         56.209969    5.351431
96    86.360020         96.613541   10.253521
97    76.973017         80.670990    3.697973
98   111.203597        115.430054    4.226456
99    90.090148         90.254753    0.164605

[100 rows x 3 columns]

Average difference for Pulp Volumetric Flow_Tailings: 5.00

Solids SG_Tailings

    True values  Predicted values  Difference
0      3.889171          3.882695    0.006476
1      3.845162          3.815648    0.029514
2      3.932110          3.909168    0.022942
3      4.072634          3.975772    0.096862
4      3.875992          3.870312    0.005681
..          ...               ...         ...
95     3.912162          3.908152    0.004010
96     3.830335          3.831710    0.001374
97     3.845050          3.846728    0.001678
98     3.918066          3.906711    0.011355
99     3.937761          3.914221    0.023540

[100 rows x 3 columns]

Average difference for Solids SG_Tailings: 0.02

Pulp SG_Tailings

    True values  Predicted values  Difference
0      1.967542          2.067811    0.100268
1      2.204447          2.207939    0.003492
2      1.901333          1.920156    0.018823
3      2.612301          3.021193    0.408892
4      1.562997          1.729101    0.166104
..          ...               ...         ...
95     2.994193          2.930493    0.063700
96     1.824638          1.777235    0.047403
97     2.207614          2.218961    0.011347
98     1.754846          1.762505    0.007659
99     2.043227          2.068757    0.025531

[100 rows x 3 columns]

Average difference for Pulp SG_Tailings: 0.05

Solids Fraction_Tailings

    True values  Predicted values  Difference
0     33.557368         35.944298    2.386930
1     42.393725         41.940605    0.453120
2     30.810642         31.570940    0.760298
3     52.519145         67.159096   14.639951
4     19.659312         24.661947    5.002635
..          ...               ...         ...
95    68.510439         65.584831    2.925607
96    29.210512         26.870089    2.340423
97    42.506600         42.508152    0.001552
98    25.943941         25.456455    0.487486
99    35.576528         36.296593    0.720065

[100 rows x 3 columns]

Average difference for Solids Fraction_Tailings: 1.82

Cu_Tails

    True values  Predicted values  Difference
0      4.266215          3.996503    0.269712
1      4.749938          3.959321    0.790617
2      3.414421          3.369210    0.045211
3      3.867748          3.751633    0.116116
4      4.447789          4.246132    0.201657
..          ...               ...         ...
95     3.256892          3.426586    0.169694
96     4.696848          4.166461    0.530387
97     3.521913          3.636867    0.114954
98     4.977399          4.445986    0.531413
99     5.136874          4.884308    0.252566

[100 rows x 3 columns]

Average difference for Cu_Tails: 0.28

Fe_Tails

    True values  Predicted values  Difference
0     16.412643         17.244007    0.831364
1     16.965420         16.753563    0.211858
2     17.706646         17.990993    0.284347
3     20.139374         22.285700    2.146326
4     16.963269         19.104078    2.140809
..          ...               ...         ...
95    20.908085         21.934208    1.026123
96    17.792533         18.043041    0.250508
97    19.888747         19.557928    0.330818
98    20.406049         19.997694    0.408355
99    17.073834         17.864225    0.790391

[100 rows x 3 columns]

Average difference for Fe_Tails: 0.56

Pb_Tails

    True values  Predicted values  Difference
0      6.651497          6.555798    0.095700
1      4.742782          4.575750    0.167032
2      7.909550          7.239253    0.670297
3     11.145305          6.634164    4.511141
4      6.409938          5.118318    1.291620
..          ...               ...         ...
95     5.061113          5.149838    0.088725
96     5.027839          5.051467    0.023629
97     3.073663          3.959071    0.885408
98     4.771804          5.711967    0.940163
99     8.523209          7.587728    0.935481

[100 rows x 3 columns]

Average difference for Pb_Tails: 0.61

Zn_Tails

    True values  Predicted values  Difference
0     11.425793         10.794118    0.631675
1     11.727663         11.883955    0.156292
2     10.455769         10.302078    0.153691
3      8.358050          8.856997    0.498948
4     10.361154         10.079938    0.281216
..          ...               ...         ...
95    10.429469          9.460187    0.969282
96     8.996873          9.905501    0.908628
97    11.622376         11.289417    0.332959
98    10.339541          9.785499    0.554042
99     9.159909          9.166492    0.006583

[100 rows x 3 columns]

Average difference for Zn_Tails: 0.59

Cu_Concentrate

    True values  Predicted values  Difference
0      4.329956          4.537536    0.207580
1      4.878532          5.120351    0.241819
2      4.248267          4.239374    0.008894
3      5.855752          5.884862    0.029110
4      6.854507          6.657528    0.196979
..          ...               ...         ...
95     4.099518          4.171799    0.072282
96     5.001340          5.085322    0.083982
97     4.883042          4.886793    0.003751
98     5.679815          5.808513    0.128698
99     6.613316          6.719045    0.105729

[100 rows x 3 columns]

Average difference for Cu_Concentrate: 0.09

Fe_Concentrate

    True values  Predicted values  Difference
0     16.615320         16.467003    0.148317
1     16.199223         16.403299    0.204076
2     16.931553         16.871565    0.059988
3     22.363686         21.416618    0.947068
4     21.603945         21.102734    0.501212
..          ...               ...         ...
95    16.814703         17.342945    0.528242
96    15.821264         15.631114    0.190150
97    17.684047         17.860929    0.176883
98    18.184237         18.496651    0.312413
99    19.022372         18.758890    0.263481

[100 rows x 3 columns]

Average difference for Fe_Concentrate: 0.26

Pb_Concentrate

    True values  Predicted values  Difference
0     32.558218         32.843391    0.285173
1     34.604455         34.615711    0.011256
2     34.551545         34.818130    0.266585
3     22.619529         25.760115    3.140585
4     21.132065         23.241077    2.109012
..          ...               ...         ...
95    36.831835         38.017300    1.185465
96    38.065301         38.899845    0.834545
97    33.228366         33.736050    0.507683
98    33.043201         32.776226    0.266975
99    28.525739         29.151199    0.625460

[100 rows x 3 columns]

Average difference for Pb_Concentrate: 0.41

Zn_Concentrate

    True values  Predicted values  Difference
0      7.804323          7.831013    0.026691
1      7.125966          7.053392    0.072574
2      6.669077          6.712753    0.043676
3      6.982699          6.957358    0.025341
4      7.624051          7.542367    0.081684
..          ...               ...         ...
95     6.622933          6.743792    0.120859
96     6.057328          5.831617    0.225711
97     7.204339          7.218816    0.014477
98     6.567813          6.571363    0.003550
99     6.574648          6.466288    0.108360

[100 rows x 3 columns]

Average difference for Zn_Concentrate: 0.15